<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 绑定一个指定的 Dao 接口-->
<mapper namespace="com.com.by.dao.UserDao">

    <!--
        查询方法：
        id：与接口中的方法名对应
        resultType：查询结果映射为什么类型
    -->
    <select id="getUserList" resultType="com.com.by.pojo.User">
        select * from user
    </select>

    <!--
        按id查询对象方法：
        如果方法中传了参数，在SQL中可以用 #{XXX} 的形式引用
    -->
    <select id="getUserById" resultType="com.com.by.pojo.User">
        select * from user where id=#{id}
    </select>

    <!--
        插入方法实现：
        参数如果是一个对象，对象中的属性可以直接用 #{} 语法取出来
    -->
    <insert id="addUser">
        insert user (id, name, pwd) values (#{id}, #{name}, #{pwd});
    </insert>

    <!--
        更新方法实现：
    -->
    <update id="updateUser">
        update user set name=#{name}, pwd=#{pwd} where id=#{id}
    </update>

    <!--
        删除语句
    -->
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>

    <!--
        通过 Map 传参（在参数过多的情况下考虑使用）
        parameterType="map"
        取值和 Map 的 key 对应
    -->
    <insert id="addUserMap" parameterType="map">
        insert user (id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>
</mapper>